<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horizon</title>
</head>

<body>

    <a routerLink="/"><img src="../../assets/personagens/HorizonMascarado.png" class="icon"/></a>
    <p class="nomePersonagem">Horizon (Mascarado)</p>
    <p class="exposicao">Exposição Paranormal: 50%</p>
    <br />
    <p class="fonte">ATRIBUTOS : </p>


    <script type="text/javascript" src="botao.js"></script>

    <div>
        <p class="vidaCSS">Vida (MAX 100):</p>
        <div class="vidaCSS" id="vida">100</div>


        <button id="menosUm" class="botaoVida"
            onclick="total('vida' ,document.getElementById('vida').innerText, -1)">-1</button>

        <button id="maisUm" class="botaoVida"
            onclick="total('vida', document.getElementById('vida').innerText, +1)">+1</button>

        <button id="menosCinco" class="botaoVida"
            onclick="total('vida' ,document.getElementById('vida').innerText, -5)">-5</button>

        <button id="maisCinco" class="botaoVida"
            onclick="total('vida',document.getElementById('vida').innerText, +5)">+5</button>
    </div>

    <div class="morrendo">
        <input type="checkbox" class="botoes"> Morrendo
    </div>

    <div class="inconsciente">
        <input type="checkbox" class="botoes"> Inconsciente
    </div>


    <div>
        <p class="sanidadeCSS">Sanidade (MAX 20):</p>
        <div class="sanidadeCSS" id="sanidade">20</div>


        <button id="menosUm" class="botaoSanidade"
            onclick="total('sanidade',document.getElementById('sanidade').innerText, -1)">-1</button>

        <button id="maisUm" class="botaoSanidade"
            onclick="total('sanidade',document.getElementById('sanidade').innerText, +1)">+1</button>

        <button id="menosCinco" class="botaoSanidade"
            onclick="total('sanidade',document.getElementById('sanidade').innerText, -5)">-5</button>

        <button id="maisCinco" class="botaoSanidade"
            onclick="total('sanidade',document.getElementById('sanidade').innerText, +5)">+5</button>
    </div>

    <div class="louco">
        <input type="checkbox" class="botoes"> Insano
    </div>


    <div>
        <p class="peCSS">PE (MAX 30): </p>
        <div class="peCSS" id="pe">30</div>

        <button id="menosUm" class="botaoPe"
            onclick="total('pe',document.getElementById('pe').innerText, -1)">-1</button>

        <button id="maisUm" class="botaoPe"
            onclick="total('pe',document.getElementById('pe').innerText, +1)">+1</button>

        <button id="menosCinco" class="botaoPe"
            onclick="total('pe',document.getElementById('pe').innerText, -5)">-5</button>

        <button id="maisCinco" class="botaoPe"
            onclick="total('pe',document.getElementById('pe').innerText, +5)">+5</button>
    </div>



    <div class="box">

        <table>

            <legend class="legends">Atributos e Perícias</legend>
            <tr>
                <td>
                    <legend class="atributos">
                Força: 4,
                Destreza: 4,
                Constituição: 3,
                Inteligência: 0,
                Sabedoria: 0,
                Carisma: 1
                    </legend>
                </td>
            </tr>

            <tr></tr>


            <td>Acrobacia  (Destreza)</td>
            <td>15</td>
            <td><button class="dados2" onclick="pericias(1, document.getElementById('acrobacia'), 21, 15)">Acrobacia</button></td>
            <tr></tr>
            <tr></tr>
            <td>Arcanismo  (Inteligência)</td>
            <td>8</td>
            <td><button class="dados2" onclick="pericias(1, document.getElementById('arcanismo'), 21, 8)">Arcanismo</button></td>
            <tr></tr>
            <tr></tr>
            <td>Atletismo  (Força ou Destreza)</td>
            <td>15</td>
            <td><button class="dados2" onclick="pericias(1, document.getElementById('atletismo'), 21, 15)" >Atletismo</button></td>
            <tr></tr>
            <tr></tr>
            <td>Atuação  (Carisma)</td>
            <td>4</td>
            <td><button class="dados2" onclick="pericias(1, document.getElementById('atuacao'), 21, 4)">Atuação</button></td>
            <tr></tr>
            <tr></tr>
            <td>Blefar  (Carisma)</td>
            <td>4</td>
            <td><button class="dados2" onclick="pericias(1, document.getElementById('blefar'), 21, 4)">Blefar</button></td>
            <tr></tr>
            <tr></tr>
            <td>Furtividade  (Destreza)</td>
            <td>15</td>
            <td><button class="dados2" onclick="pericias(1, document.getElementById('furtividade'), 21, 15)">Furtividade</button></td>
            <tr></tr>
            <tr></tr>
            <td>História  (Inteligência)</td>
            <td>4</td>
            <td><button class="dados2" onclick="pericias(1, document.getElementById('historia'), 21, 4)">História</button></td>
            <tr></tr>
            <tr></tr>
            <td>Intimidação  (Carisma)</td>
            <td>4</td>
            <td><button class="dados2" onclick="pericias(1, document.getElementById('intimidacao'), 21, 4)">Intimidação</button></td>
            <tr></tr>
            <tr></tr>
            <td>Intuição  (Sabedoria)</td>
            <td>2</td>
            <td><button class="dados2" onclick="pericias(1, document.getElementById('intuicao'), 21, 2)">Intuição</button></td>
            <tr></tr>
            <tr></tr>
            <td>Investigação  (Inteligência)</td>
            <td>4</td>
            <td><button class="dados2" onclick="pericias(1, document.getElementById('investigacao'), 21, 4)">Investigação</button></td>
            <tr></tr>
            <tr></tr>
            <td>Medicina  (Sabedoria)</td>
            <td>2</td>
            <td><button class="dados2" onclick="pericias(1, document.getElementById('medicina'), 21, 2)">Medicina</button></td>
            <tr></tr>
            <tr></tr>
            <td>Percepção  (Inteligência)</td>
            <td>2</td>
            <td><button class="dados2" onclick="pericias(1, document.getElementById('percepcao'), 21, 2)">Percepção</button></td>
            <tr></tr>
            <tr></tr>
            <td>Prestidigitação  (Força ou Destreza)</td>
            <td>15</td>
            <td><button class="dados2" onclick="pericias(1, document.getElementById('prestidigitacao'), 21, 15)">Prestidigitação</button></td>
            <tr></tr>
            <tr></tr>
            <td>Sobrevivência  (Sabedoria)</td>
            <td>4</td>
            <td><button class="dados2" onclick="pericias(1, document.getElementById('sobrevivencia'), 21, 4)">Sobrevivência</button></td>
            <tr></tr>
            <tr></tr>
        </table>
        <button id="d4" class="dados" onclick="dados(1, document.getElementById('d4'), 5)">D4</button>
        <button id="d6" class="dados" onclick="dados(1, document.getElementById('d6'), 7)">D6</button>
        <button id="d8" class="dados" onclick="dados(1, document.getElementById('d8'), 9)">D8</button>
        <button id="d10" class="dados" onclick="dados(1, document.getElementById('d10'), 11)">D10</button>
        <button id="d12" class="dados" onclick="dados(1, document.getElementById('d12'), 13)">D12</button>
        <button id="d20" class="dados" onclick="dados(1, document.getElementById('d20'), 21)">D20</button>
        <button id="d100" class="dados" onclick="dados(1, document.getElementById('d100'), 101)">D100</button>
    </div>

    <div class="box2">
    <table>
        <legend class="legends">Habilidades</legend>

        <P>Esquiva: 19</P>
        <P>Contra-Ataque: 26</P>

        <P>
            <p>30% - Saque rapido : Permite sacar armas de fogo utilizando ações livres durante o combate.</p>

            <p>35% - Reflexos Rápidos: Reação até a ataques surpresa</p>

            <p>40% - Resistente: Garante uma armadura natural, fazendo com que todo dano físico seja reduzido em 3.</p>

            <p>50% -
                Invencível: Mesmo com 0 pontos de vida e lesão grave,
                 o personagem se mantém em pé lutando até falhar em um
                  teste de constituição. Quando estiver nesse estado e
                  for atingido com um dano que não seja lesão grave só resulta
                   em mais um teste de constituição</p>

            <p>Afinidade com o Elemento Morte:
            Vantagem em usar rituais de morte.
            -5 de dano recebido (se for de morte)</p>

            <p>Teleporte Das sombras (Caso esteja com a mascara)
                Poderá se teletransportar para as costas do alvo
                         (não conta como furtividade)</p>


        <legend class="legends">Inventário</legend>
        <P>

            <p>Katana: 2d10 + 4 de morte</p>
            <p>Katana: 4d10 + 4 de morte (critico)</p>
            <p>Katana: 5d10 + 4 de morte (caso seja um ataque furtivo)</p>



    </table>
</div>

</body>
