<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeons And Dumbs</title>
  </head>

  <body class="body">
    <a href=""><img src="../assets/icon.png" class="icon"></a>
    <div class="box">
      <legend class="legends">PERSONAGENS</legend>
        <table>
          <td>
              <a routerLink="/braum"><img src="../assets/personagens/Braum.png" class="icon"></a>
              <a routerLink="/horizon"><img src="../assets/personagens/HorizonMascarado.png" class="icon"></a>
              <a routerLink="/leonardo"><img src="../assets/personagens/Leonardo.png" class="icon"></a>
              <a routerLink="/franchesco"><img src="../assets/personagens/Francesco.png" class="icon"></a>
              <a routerLink="/annubis"><img src="../assets/personagens/AnnubisHorus.png" class="icon"></a>
          </td>
        </table>
    </div>
  </body>

</html>
